@page "/settings/blog-list"
@model PageModels.Settings.BlogListModel
@{
	Layout = "_StandardLayout";
}
<div class="n-page_content">
	<div class="n-toolbar">
		<a asp-page="@Paths.Pages.Settings.Home" class="n-toolbar_back">Home</a>
	</div>
	<h1>
		<span>Blog List</span>
	</h1>
	<div>
		<a asp-page="@Paths.Pages.Settings.Blog" class="n-btn">Create</a>
	</div>
	<div class="n-mt-3">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>@Html.DisplayNameFor(model => model.Header.BlogId)</th>
					<th>@Html.DisplayNameFor(model => model.Header.BlogName)</th>
					<th>@Html.DisplayNameFor(model => model.Header.Description)</th>
					<th>@Html.DisplayNameFor(model => model.Header.CreatedDate)</th>
					<th>@Html.DisplayNameFor(model => model.Header.UpdatedDate)</th>
				</tr>
			</thead>
			<tbody>
@foreach (Blog blog in Model.Blogs)
{
				<tr>
					<td>
						<a asp-page="@Paths.Pages.Settings.Blog" asp-route-blogId="@blog.BlogId"
							class="n-btn n-btn-small">Edit</a>
					</td>
					<td>@blog.BlogId</td>
					<td>@blog.BlogName</td>
					<td>@blog.Description</td>
					<td>@blog.CreatedDate</td>
					<td>@blog.UpdatedDate</td>
				</tr>
}
			</tbody>
		</table>
	</div>
</div>
