@page "/"
@model IndexModel
@{
	Layout = "_SimpleLayout";
}
<div class="n-page_content">
	<div>
		<div class="n-mt-3">
			<a asp-page="@Routes.App.Index" class="n-link n-font-large">Blog App</a>
		</div>
		<div class="n-mt-3">
			<a asp-page="@Routes.SqlExecutionMethod" class="n-link n-font-large">SQL Execution Method</a>
		</div>
		<div class="n-mt-3">
			<a asp-page="@Routes.DaoMethodParameter" class="n-link n-font-large">Dao Method Parameter</a>
		</div>
		<div class="n-mt-3">
			<a asp-page="@Routes.DaoMethodResult" class="n-link n-font-large">Dao Method Result</a>
		</div>
		<div class="n-mt-3">
			<a asp-page="@Routes.Transaction" class="n-link n-font-large">Transaction</a>
		</div>
	</div>
</div>

@section Styles
{
<style>
</style>
}
